<%- include('layout', { title: '500 Internal Server Error' , body: ` <div class="row">
  <div class="col-md-6 offset-md-3 text-center">
    <div class="mt-5">
      <h1 class="display-1">500</h1>
      <h2>Internal Server Error</h2>
      <p class="lead">Something went wrong on our end. Please try again later.</p>
      <a href="/snippets" class="btn btn-primary">Go to Home</a>
    </div>
  </div>
  </div>
  ` }) %>